html, body {
    margin:  0;
    padding: 0;
    font-size: 1rem;
}

.container {
    height: 50%;
    width: 80%;
    border: 1px solid grey;
    margin: auto;
}

.tab-selector {
    display: flex;
    border-bottom: 1px solid grey;
    background-color: #f1f1f1;
}

.tab {
    padding: 20px;
}

.tab:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.content {
    padding: 10px;
    display: none;
}

.show-active {
    display: block;
    animation: fade 1s;
}

.tab-active {
    background-color: darkgrey;
}
 
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}